In [3]:
page_urls = {
    "NES": "https://en.wikipedia.org/wiki/List_of_best-selling_Nintendo_Entertainment_System_video_games",
    "SNES": "https://en.wikipedia.org/wiki/List_of_best-selling_Super_Nintendo_Entertainment_System_video_games",
    "N64": "https://en.wikipedia.org/wiki/List_of_best-selling_Nintendo_64_video_games",
    "GC": "https://en.wikipedia.org/wiki/List_of_best-selling_GameCube_video_games",
    "Wii": "https://en.wikipedia.org/wiki/List_of_best-selling_Wii_video_games",
    "WiiU": "https://en.wikipedia.org/wiki/List_of_best-selling_Wii_U_video_games",
    "Switch": "https://en.wikipedia.org/wiki/List_of_best-selling_Nintendo_Switch_video_games"
}

In [4]:
import pandas as pd

In [5]:
NES_table = pd.read_html(page_urls["NES"])[2]

In [6]:
SNES_table = pd.read_html(page_urls["SNES"])[2]

In [7]:
N64_table = pd.read_html(page_urls["N64"])[2]

In [8]:
GC_table = pd.read_html(page_urls["GC"])[1]

In [9]:
Wii_table = pd.read_html(page_urls["Wii"])[2]

In [10]:
WiiU_table = pd.read_html(page_urls["WiiU"])[4]

In [11]:
Switch_table = pd.read_html(page_urls["Switch"])[1]

In [21]:
# Game | Console | Developer | Publisher | Release_Date | Sales

NES_table_cleaned = NES_table.drop("Ref", axis=1).rename(columns={"Developer(s)[a]": "Developer", "Publisher(s)[a]": "Publisher", "Release date[b]": "Release_Date"})
NES_table_cleaned.insert(1, "Console", "NES")

SNES_table_cleaned = SNES_table.drop("Ref.", axis=1).rename(columns={"Developer(s)[a]": "Developer", "Publisher(s)[a]": "Publisher", "Release date[b]": "Release_Date"})
SNES_table_cleaned.insert(1, "Console", "SNES")

N64_table_cleaned = N64_table.drop("Ref.", axis=1).rename(columns={"Developer(s)[a]": "Developer", "Publisher(s)[a]": "Publisher", "Release date[b]": "Release_Date"})
N64_table_cleaned.insert(1, "Console", "N64")

GC_table_cleaned = GC_table.drop("Genre(s)", axis=1).rename(
    columns={"Copies sold": "Sales", "Release date[a]": "Release_Date", "Developers": "Developer", "Publishers": "Publisher"}
)[["Game", "Developer", "Publisher", "Release_Date", "Sales"]]
GC_table_cleaned["Sales"] = GC_table_cleaned["Sales"].apply(lambda num: int(float(num.split()[0]) * 1000000) )
GC_table_cleaned.insert(1, "Console", "GC")

Wii_table_cleaned = Wii_table.drop("Genre(s)", axis=1).rename(
    columns={"Copies sold": "Sales", "Release date[a]": "Release_Date", "Developer(s)": "Developer", "Publisher(s)": "Publisher"}
)[["Game", "Developer", "Publisher", "Release_Date", "Sales"]]
Wii_table_cleaned["Sales"] = Wii_table_cleaned["Sales"].apply(lambda num: int(float(num.split()[0].strip(">")) * 1000000))
Wii_table_cleaned.insert(1, "Console", "Wii")

WiiU_table_cleaned = WiiU_table.drop(["Genre(s)", "As of"], axis=1).rename(
    columns={"Copies sold": "Sales", "Release date[a]": "Release_Date", "Developer(s)": "Developer", "Publisher(s)": "Publisher"}
)[["Game", "Developer", "Publisher", "Release_Date", "Sales"]]
WiiU_table_cleaned["Sales"] = WiiU_table_cleaned["Sales"].apply(lambda num: int(float(num.split()[0].strip(">")) * 1000000))
WiiU_table_cleaned.insert(1, "Console", "WiiU")

Switch_table_cleaned = Switch_table.drop(["Genre(s)", "As of"], axis=1).rename(
    columns={"Title": "Game", "Copies sold": "Sales", "Release date[a]": "Release_Date", "Developer(s)": "Developer", "Publisher(s)": "Publisher"}
)[["Game", "Developer", "Publisher", "Release_Date", "Sales"]]
Switch_table_cleaned["Sales"] = Switch_table_cleaned["Sales"].apply(lambda num: int(float(num.split()[0].strip(">")) * 1000000))
Switch_table_cleaned.insert(1, "Console", "Switch")

master = pd.concat([NES_table_cleaned, SNES_table_cleaned, N64_table_cleaned, GC_table_cleaned, Wii_table_cleaned, WiiU_table_cleaned, Switch_table_cleaned])

master.to_csv("Best_Selling_Nintendo_Titles.csv", index=False)

master

NES_table_cleaned

,Game,Console,Developer,Publisher,Release_Date,Sales
0,Super Mario Bros. †,NES,Nintendo R&D4,Nintendo,"September 13, 1985",40240000
1,Duck Hunt †,NES,Nintendo R&D1,Nintendo,"April 21, 1984",28310000
2,Super Mario Bros. 3 †,NES,Nintendo R&D4,Nintendo,"October 23, 1988",18000000
3,Tetris,NES,Nintendo R&D1,Nintendo,November 1989,8000000
4,Super Mario Bros. 2 (international version),NES,Nintendo R&D4,Nintendo,"October 9, 1988",7460000
...,...,...,...,...,...,...
73,Hydlide,NES,T&E Soft,JP: Toshiba EMINA: FCI,"March 18, 1986",1000000
74,Gradius,NES,Konami,Konami,"April 25, 1986",1000000
75,Tiger Heli,NES,Micronics,JP: Pony CanyonNA/EU: Acclaim Entertainment,"December 5, 1986",1000000
76,Metal Gear,NES,Konami,JP: KonamiNA: Ultra Games,"December 22, 1987",1000000
77,NES Open Tournament Golf,NES,Nintendo R&D2,Nintendo,"September 20, 1991",1000000