In [1]:
import pandas as pd
import datetime as dt
from dateutil import parser;

nin_titles = pd.read_csv("Best_Selling_Nintendo_Titles.csv")

nin_titles["Release_Date"] = nin_titles["Release_Date"].apply(parser.parse)

nin_titles

,Game,Console,Developer,Publisher,Release_Date,Sales
0,Super Mario Bros.,NES,Nintendo R&D4,Nintendo,1985-09-13,40240000
1,Duck Hunt,NES,Nintendo R&D1,Nintendo,1984-04-21,28310000
2,Super Mario Bros. 3,NES,Nintendo R&D4,Nintendo,1988-10-23,18000000
3,Tetris,NES,Nintendo R&D1,Nintendo,1989-11-17,8000000
4,Super Mario Bros. 2 (international version),NES,Nintendo R&D4,Nintendo,1988-10-09,7460000
...,...,...,...,...,...,...
385,Fitness Boxing,Switch,Imagineer,JP: ImagineerNA/PAL: Nintendo,2018-12-20,1000000
386,Fitness Boxing 2: Rhythm and Exercise,Switch,Imagineer,JP: ImagineerNA/PAL: Nintendo,2020-12-04,1000000
387,Momotaro Dentetsu World: Chikyuu wa Kibou de M...,Switch,Konami,JP: Konami,2023-11-16,1000000
388,Story of Seasons: Pioneers of Olive Town,Switch,Marvelous,Xseed Games,2021-02-25,1000000
389,Thief Simulator,Switch,Noble Muffins,Forever Entertainment,2019-05-19,1000000

In [2]:
nin_titles["Year"] = nin_titles["Release_Date"].apply(lambda x: x.year)

nin_titles.loc[nin_titles.groupby(["Year"])["Sales"].idxmax()[1983]]["Game"]

'Baseball'

In [3]:
nin_titles.groupby(["Year"])["Sales"].max()

Year
1983     3200000
1984    28310000
1985    40240000
1986     6510000
1987     4380000
1988    18000000
1989     8000000
1990    20610000
1991     4610000
1992     8760000
1993    10550000
1994     9300000
1995     5150000
1996    11910000
1997     8090000
1998     7600000
1999     5550000
2000     3360000
2001     7410000
2002     5910000
2003     6960000
2004     1910000
2005     2080000
2006    82900000
2007    22670000
2008    37380000
2009    33140000
2010     9350000
2011     9920000
2012     5820000
2013     5890000
2014     8460000
2015     4950000
2016     1170000
2017    60580000
2018    33670000
2019    26170000
2020    44790000
2021    15060000
2022    24360000
2023    20280000
Name: Sales, dtype: int64

In [9]:
mask = ["Mario" in value for value in nin_titles["Game"].values]
internal_nin_titles = nin_titles
internal_nin_titles["Mask"] = mask
internal_nin_titles.loc[internal_nin_titles["Mask"]]

,Game,Console,Developer,Publisher,Release_Date,Sales,Year,Mask
0,Super Mario Bros.,NES,Nintendo R&D4,Nintendo,1985-09-13,40240000,1985,True
2,Super Mario Bros. 3,NES,Nintendo R&D4,Nintendo,1988-10-23,18000000,1988,True
4,Super Mario Bros. 2 (international version),NES,Nintendo R&D4,Nintendo,1988-10-09,7460000,1988,True
6,Dr. Mario,NES,Nintendo R&D1,Nintendo,1990-07-27,4850000,1990,True
18,Super Mario Bros. 2 (Japanese version),NES,Nintendo R&D4,Nintendo,1986-06-03,2650000,1986,True
...,...,...,...,...,...,...,...,...
349,Mario Strikers: Battle League,Switch,Next Level Games,Nintendo,2022-06-10,2540000,2022,True
350,Mario Golf: Super Rush,Switch,Camelot Software Planning,Nintendo,2021-06-25,2480000,2021,True
356,Mario + Rabbids Kingdom Battle,Switch,Ubisoft ParisUbisoft Milan,NA/PAL: UbisoftJP/KOR: Nintendo,2017-08-29,2000000,2017,True
363,Mario Kart Live: Home Circuit,Switch,Velan Studios,Nintendo,2020-10-16,1730000,2020,True
381,Mario & Sonic at the Olympic Games Tokyo 2020,Switch,Sega,Sega,2019-11-01,1020000,2019,True